# 주가이동평균 구하기 복습

In [4]:
# 주가이동평균 구하기
import pandas as pd
import pandas_datareader.data as web

In [5]:
gs = web.DataReader("078930.ks", "yahoo", "2014-01-01", "2016-03-06")

In [6]:
gs.tail()

               High      Low     Open    Close    Volume     Adj Close
Date
2016-02-26  54500.0  53200.0  54300.0  53300.0  159453.0  44327.496094
2016-02-29  53900.0  52800.0  53000.0  53000.0  154692.0  44077.996094
2016-03-02  55200.0  53500.0  53900.0  55100.0  229999.0  45824.488281
2016-03-03  55800.0  54300.0  55300.0  55000.0  217063.0  45741.312500
2016-03-04  54800.0  53200.0  54700.0  54200.0  237934.0  45075.992188

In [13]:
# 날짜에 맞춰 변수 일괄 생성 
days = (5, 20, 60, 120)
for n in days:
    globals()[f"ma{n}"] = gs["Adj Close"].rolling(window=n).mean()

In [12]:
ma120

Date
2014-01-02             NaN
2014-01-03             NaN
2014-01-06             NaN
2014-01-07             NaN
2014-01-08             NaN
                  ...
2016-02-26    40259.457780
2016-02-29    40317.293034
2016-03-02    40392.373503
2016-03-03    40468.106413
2016-03-04    40543.004460
Name: Adj Close, Length: 535, dtype: float64

In [8]:
gs.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [14]:
# gs 주식 정보에 이평선 정보 추가하기
for n in days:
    gs.insert(len(gs.columns), f"MA{n}", globals()[f"ma{n}"])

In [15]:
gs.tail()

,High,Low,Open,Close,Volume,Adj Close,MA5,MA20,MA60,MA120
Date,,,,,,,,,,
2016-02-26,54500.0,53200.0,54300.0,53300.0,159453.0,44327.496094,43895.031250,42433.389062,41287.440169,40259.457780
2016-02-29,53900.0,52800.0,53000.0,53000.0,154692.0,44077.996094,44327.493750,42626.750000,41325.067578,40317.293034
2016-03-02,55200.0,53500.0,53900.0,55100.0,229999.0,45824.488281,44710.058594,42867.931641,41409.295573,40392.373503
2016-03-03,55800.0,54300.0,55300.0,55000.0,217063.0,45741.312500,44959.556250,43059.213086,41475.990430,40468.106413
2016-03-04,54800.0,53200.0,54700.0,54200.0,237934.0,45075.992188,45009.457031,43183.962109,41538.324414,40543.004460

# 주가이동평균선 그리기

In [60]:
# matplotlib 패키지의 pyplot 모듈을 가져온다.
import matplotlib.pyplot as plt

# 아래 줄을 입력해야 제대로 된 그래프를 볼 수 있다.
# 입력 안 하면 별개의 그래프만 보이고, 범례도 안 먹힌다.
# 참고: https://versusall.tistory.com/entry/Jupyter-Notebook-4-%EC%99%B8%EB%B6%80%EC%B0%BD%EC%97%90%EC%84%9C-%EA%B7%B8%EB%9E%98%ED%94%84-%EA%B7%B8%EB%A6%AC%EA%B8%B0-matplotlib-inline-qt-tk%C2%B6
%matplotlib qt

In [61]:
gs.index

DatetimeIndex(['2014-01-02', '2014-01-03', '2014-01-06', '2014-01-07',
               '2014-01-08', '2014-01-09', '2014-01-10', '2014-01-13',
               '2014-01-14', '2014-01-15',
               ...
               '2016-02-19', '2016-02-22', '2016-02-23', '2016-02-24',
               '2016-02-25', '2016-02-26', '2016-02-29', '2016-03-02',
               '2016-03-03', '2016-03-04'],
              dtype='datetime64[ns]', name='Date', length=535, freq=None)

In [62]:
plt.plot(gs.index, gs["Adj Close"], label="Adj Close")

In [63]:
# 차례대로 쌓아올리기
plt.plot(gs.index, gs["MA5"], label="MA5")
plt.plot(gs.index, gs["MA20"], label="MA20")
plt.plot(gs.index, gs["MA60"], label="MA60")
plt.plot(gs.index, gs["MA120"], label="MA120")

In [64]:
# 범례 위치
plt.legend(loc="best")

# 격자 그리기
plt.grid()